<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title><%= titre %></title>
        <link type="text/css" rel="stylesheet" href="/css/style.css" />
        <link type="text/css" href="/lightbox/css/lightbox.min.css" rel="stylesheet" />
    </head>
    <body>
        <nav>
            <a href="/" <% if(active=="accueil"){ %>class="active"<% } %>>Accueil</a>
            <a href="/presentation" <% if(active=="presentation"){ %>class="active"<% } %>>Je me présente</a>
            <a href="/aventure" <% if(active=="aventure"){ %>class="active"<% } %>>Aventure Digitale</a>
            <a href="/realisations" <% if(active=="realisation"){ %>class="active"<% } %>>Mes réalisations</a>
        </nav>